.input {
  input {
    width: 100%;
    margin-top: 10px;
    height: 38px;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
    border: 2px solid rgba(0, 0, 255, 0.705);
    color: black;
    font-weight: 700;
  }
}
